ui:
  url: ${UI_URL:http://localhost:5173}

domain:
  name: ${DOMAIN_NAME:localhost}

spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DATABASE:bugzkit}
    password: ${POSTGRES_PASSWORD:root}
  jpa:
    hibernate:
      ddl-auto: create
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      password: ${REDIS_PASSWORD:root}
  security:
    user:
      password: ${USER_PASSWORD:qwerty123}
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:client_id}
            client-secret: ${GOOGLE_CLIENT_SECRET:client_secret}
            scope: profile,email
  mail:
    password: ${SMTP_PASSWORD:password}

jwt:
  secret: ${JWT_SECRET:secret}
