ui:
  url: ${UI_URL:https://bugzkit.com}

domain:
  name: ${DOMAIN_NAME:.bugzkit.com}

server:
  forward-headers-strategy: native
  client-ip-header: ${CLIENT_IP_HEADER:CF-Connecting-IP}

spring:
  config:
    import: optional:configtree:/run/secrets/
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:postgres}:${POSTGRES_PORT:5432}/${POSTGRES_DATABASE:bugzkit}
    password: ${postgres_password}
  jpa:
    hibernate:
      ddl-auto: validate
  data:
    redis:
      host: ${REDIS_HOST:redis}
      password: ${redis_password}
  security:
    user:
      password: ${user_password} # remove when liquibase is added
    oauth2:
      client:
        registration:
          google:
            client-id: ${google_client_id}
            client-secret: ${google_client_secret}
            scope: profile,email
  mail:
    password: ${smtp_password}

jwt:
  secret: ${jwt_secret}

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
